name: CI

on:
  push:
    branches: [master]
  pull_request:
  schedule: [cron: "40 1 * * *"]

jobs:
  install:
    name: Rust ${{matrix.rust}} on ${{matrix.name}}
    runs-on: ${{matrix.os}}-latest
    strategy:
      fail-fast: false
      matrix:
        name: [Linux]
        os: [ubuntu]
        rust: [nightly, beta, stable]
        include:
          - name: macOS
            os: macos
            rust: nightly
          - name: Windows
            os: windows
            rust: nightly
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        name: Run dtolnay/rust-toolchain@${{matrix.rust}}
        id: toolchain
        with:
          toolchain: ${{matrix.rust}}
      - name: Check ${{'${{steps.toolchain.outputs.version}}'}}
        run: echo '${{steps.toolchain.outputs.version}}'
      - name: Check ${{'${{steps.toolchain.outputs.cachekey}}'}}
        run: echo '${{steps.toolchain.outputs.cachekey}}'
      - run: rustc --version
